/*
  Nextflow Base config file for Workflows
 */

//container config
docker.enabled = false
singularity.enabled = false

executor {
    name = 'slurm'
    queueSize = 10
    pollInterval = '20 sec'
}

//process configs
process {
    executor = 'slurm'
    queue = 'production'
    maxRetries = '3'
    queueSize = 20
    time =  { 1.hour }

    withLabel: default_process {
        memory = 1.GB
        cpus = 1
    }

    withLabel: ensembl {
        cpus = { 2 * task.attempt }
        memory = { 2.GB * task.attempt }
        time =  { 1.hour * task.attempt }
        errorStrategy = { task.exitStatus == 140 ? 'retry' : 'finish' }
        maxRetries = 5
    }

    withLabel: mem1GB {
        memory = 1.GB
        cpus = 1
    }
    withLabel: mem2GB {
        memory = 2.GB
        cpus = 1
    }
    withLabel: mem4GB {
        memory = 4.GB
        cpus = 1
    }
    withLabel: mem8GB {
        memory = 8.GB
        cpus = 1
    }
    withLabel: mem16GB {
        memory = 16.GB
        cpus = 1
    }
    withLabel: mem32GB {
        memory = 32.GB
        cpus = 1
    }
    withLabel: mem64GB {
        memory = 64.GB
        cpus = 1
    }
    withLabel: dm {
        queue = 'datamover'
        cpus = 4
    }
}
