includeConfig "${NF_CONFIG_DIR}/prod.config"

//global variables for datafile

manifest {
    name            = 'ensembl-e2020-datafiles/nextflow'
    author          = """Vinay Kaikala"""
    homePage        = 'https://github.com/Ensembl/ensembl-e2020-datafiles/tree/feature/nexflow_datafile'
    description     = """Ensembl Genome Browser Pipeline"""
    mainScript      = 'datafile.nf'
    nextflowVersion = '>=22.04.5'
    version         = '1.0.1'
    doi             = ''
}

maxRetries = 3
maxErrors = '-1'

time = { check_max( 1.h * task.attempt, 'time' ) }

process {
    debug = false
    errorStrategy = 'ignore'
}

profiles {
    slurm {
        process {
            executor = "slurm"
            scratch  = "$NOBACKUP_DIR/scratch"
            log      = "$NOBACKUP_DIR/nextflow/logs/ensembl-refget/production.log"
            baseDir    = "$NOBACKUP_DIR"
        }
    }
    local {
    }
}
