includeConfig './base.config'

//global setting vars
nextflow.enable.dsl=2
params.help = false

profiles {
    lsf {
        process.executor = 'lsf'
        process.scratch = "$NOBACKUP_DIR/nextflow/scratch"
        process.log = "$NOBACKUP_DIR/nextflow/logs/ensembl-refget/production.log"
    } 

    slurm {
        process.executor = 'slurm'
        process.queue = 'production'
        process.time = '30 min'
        process.scratch = "$NOBACKUP_DIR/nextflow/scratch"
        process.log = "$NOBACKUP_DIR/nextflow/logs/ensembl-refget/production.log"
    }

    local {
        process.executor = 'local'
        process.log = '$NOBACKUP_DIR/nextflow/logs/local.log' 
    }

    k8s {
        process.executor = 'k8s'
        container = 'busybox:latest'
        containerOptions = '--volume /data/db:/db'
        storageClaimName = 'vol-claim-nexflow-production'
        storageMountPath = '/workflow'
        storageSubPath = '/production'
        namespace = "ensprod-nexflow"
    }
}
