nextflow.enable.dsl=2
params.help = false
workDir = "$NOBACKUP_DIR/nextflow/work"

executor {
    $slurm {
        name = 'slurm'
        queueSize = 20
        pollInterval = '20 sec'
    }
}

profiles {
    slurm {
        process {
            executor = 'slurm'
            queue = 'production'
        }
    }
    local {
        process {
            executor = 'local'
        }
    }
}

process {
    maxErrors = -1
    maxRetries = 3
    time = '2d'
    debug = false
    errorStrategy = 'ignore'

    scratch  = "$NOBACKUP_DIR/nextflow/scratch"
    log      = "$NOBACKUP_DIR/nextflow/logs/datafile.log"
    publishDir = "$NOBACKUP_DIR"
    baseDir    = "$NOBACKUP_DIR"

    withLabel: default_process {
        memory = 1.GB
        cpus = 1
    }
    withLabel: mem1GB {
        memory = 1.GB
        cpus = 1
    }
    withLabel: mem2GB {
        memory = 2.GB
        cpus = 1
    }
    withLabel: mem4GB {
        memory = 4.GB
        cpus = 1
    }
    withLabel: mem8GB {
        memory = 8.GB
        cpus = 1
    }
}

manifest {
    name            = 'ensembl-refget'
    author          = """Ensembl"""
    homePage        = 'https://github.com/Ensembl/ensembl-refget/'
    description     = """Ensembl Refget data pipeline"""
    mainScript      = 'refget.nf'
    nextflowVersion = '>=25.04.6'
    version         = '1.0.0'
    doi             = ''
}

